#header{
	padding:50px 0;
	}
#header #logo *{
	margin:0; 
	padding:0; 
	line-height:1;
	}
#header #logo h1{
	margin-top:8px; 
	font-size:26px; 
	letter-spacing:3px;
	}
#pierwszy{
	padding:150px 0;
	}
#pierwszy article{}
#pierwszy article div{
	margin-bottom:80px;
	}
#pierwszy article div *{
	margin:0;
	padding:0; 
	line-height:1;
	}
#pierwszy article div .heading{
	margin-bottom:50px; 
	font-size:40px;
	}
#gallery{
	display:block; 
	width:100%; 
	margin-bottom:50px;
	}
#gallery figure figcaption{
	display:block; 
	width:100%; 
	clear:both;
	}
#gallery li{
	margin-bottom:30px;
	}

.container{
	padding:80px 0;
}

.container .content{}

.sectiontitle{
	display:block; 
	max-width:55%; 
	margin:0 auto 80px; 
	text-align:center;
	}
.sectiontitle *{
	margin:0;
	}

.container .sidebar{}

.sidebar .sdb_holder{
	margin-bottom:50px;
	}
.sidebar .sdb_holder:last-child{
	margin-bottom:0;
	}

.cta{
	padding:50px 0;
	}
.cta > :first-child{
	margin-top:10px;
	}
.cta > :last-child{
	margin-bottom:0;
	}

#footer{
	padding:80px 0 50px;
	}

#footer .heading{
	margin-bottom:50px; 
	font-size:1.2rem;
	}

#footer .linklist li{
	display:block; 
	margin-bottom:15px; 
	padding:0 0 15px 0; 
	border-bottom:1px solid;
	}
#footer .linklist li:last-child{
	margin:0; 
	padding:0; 
	border:none;
	}
#footer .linklist li::before, #footer .linklist li::after{
	display:table; 
	content:"";
	}
#footer .linklist li, #footer .linklist li::after{
	clear:both;
	}

#footer .contact{}
#footer .contact.linklist li, #footer .contact.linklist li:last-child{
	position:relative; 
	padding-left:40px;
	}
#footer .contact li *{
	margin:0; 
	padding:0; 
	line-height:1.6;
	}
#footer .contact li i{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:30px; 
	font-size:16px; 
	text-align:center;
	}

#footer input, #footer button{
	border:1px solid;
	}
#footer input{
	display:block; 
	width:100%; 
	padding:8px;
	}
#footer button{
	padding:8px 18px 10px; 
	text-transform:uppercase; 
	font-weight:700; 
	cursor:pointer;
	}

#copyright{
	padding:20px 0;
	border-top:1px solid;
	}
#copyright *{
	margin:0; 
	padding:0;
	}


*, *::before, *::after{
	transition:all .3s ease-in-out;
	}
#mainav form *{
	transition:none !important;
	}

nav ul, nav ol{
	margin:0; 
	padding:0; 
	list-style:none;
	}

#mainav, #breadcrumb, .sidebar nav{
	line-height:normal;
	}
#mainav .drop::after, #mainav li li .drop::after, #breadcrumb li a::after, .sidebar nav a::after{
	position:absolute; 
	font-family:"DK Longreach"; 
	font-size:10px; 
	line-height:10px;
	}

#mainav{}
#mainav ul{
	text-transform:uppercase;
	}
#mainav ul ul{
	z-index:9999; 
	position:absolute; 
	width:160px; 
	text-transform:none;
	}
#mainav ul ul ul{
	left:160px; 
	top:0;
	}
#mainav li{
	display:inline-block; 
	position:relative; 
	margin:0 30px 0 0; 
	padding:0;
	}
#mainav li:last-child{
	margin-right:0;
	}
#mainav li li{
	width:100%; 
	margin:0;
	}
#mainav li a{
	display:block; 
	padding:20px 0;
	}
#mainav li li a{
	border:solid; 
	border-width:0 0 1px 0;
	}
#mainav .drop{
	padding-left:15px;
	}
#mainav li li a, #mainav li li .drop{
	display:block; 
	margin:0; 
	padding:10px 15px;
	}

#mainav form{
	display:none; 
	margin:0; 
	padding:20px 0;
	}
#mainav form select, #mainav form select option{
	display:block; 
	cursor:pointer; 
	outline:none;
	}
#mainav form select{
	width:100%; 
	padding:5px; 
	border:1px solid;
	}
#mainav form select option{
	margin:5px; 
	padding:0; 
	border:none;
	}

#backtotop{
	z-index:999; 
	display:inline-block; 
	position:fixed;
	visibility:hidden; 
	bottom:20px; 
	right:20px; 
	width:36px; 
	height:36px; 
	line-height:36px; 
	font-size:16px; 
	text-align:center; 
	opacity:.2;
	}
#backtotop i{
	display:block; 
	width:100%; 
	height:100%; 
	line-height:inherit;
	}
#backtotop.visible{
	visibility:visible; 
	opacity:.5;
	}
#backtotop:hover{
	opacity:1;
	}

.tg  {
	border-collapse:collapse;
	border-spacing:0;
	}
.tg td{
	font-family:Arial, sans-serif;
	font-size:14px;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	}
.tg th{
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	padding:10px 5px;
	border-style:solid;
	border-width:0px;
	overflow:hidden;
	word-break:normal;
	}
.tg .tg-yw4l{vertical-align:top}


body{
	color:#BCBCBC; 
	background-image:('images/f35.jpg');
	}
a{
	color:#0069A8;
	}
a:active, a:focus{
	background:transparent;
	}
hr, .borderedbox{
	border-color:#D7D7D7;
	}
input:focus, textarea:focus, *:required:focus{
	border-color:#0069A8;
	}

.overlay{
	color:#FFFFFF; 
	background-color:inherit;
	}
.overlay::after{
	color:inherit; 
	background-color:rgba(0,0,0,.55);
	}
.overlay.light{
	color:#474747;
	}
.overlay.light::after{
	background-color:rgba(255,255,255,.7);
	}

.button, .button.inverse:hover{
	color:#FFFFFF; 
	background-color:#0069A8; 
	border-color:#0069A8;
	}
.button:hover, .button.inverse{
	color:inherit; 
	background-color:transparent; 
	border-color:inherit;
	}

.button1, .button1.inverse:hover{
	color:#FFFFFF; 
	background-color:#1A1A1A; 
	border-color:#FFFFFF;
	}
.button1:hover, .button1.inverse{
	color:inherit; 
	background-color:transparent; 
	border-color:inherit;
	}
.row1{
	color:#474747; 
	background-color:#FFFFFF;
	}
.row2{
	color:#FFFFFF; 
	background-color:#0069A8;
	}
.row3{
	color:#474747; 
	background-color:#FFFFFF;
	}
.row4{
	color:#BCBCBC; 
	background-color:#1A1A1A;
	}
.row4 a{
	color:#40B8FF;
	}
.row5, .row5 a{
	color:#BCBCBC; 
	background-color:#222222;
	}

#header #logo a{
	color:inherit;
	}

#footer .heading{
	color:#FFFFFF;
	}
#footer hr, #footer .borderedbox, #footer .linklist li{
	border-color:rgba(255,255,255,.2);
	}

#footer input, #footer button{
	border-color:transparent;
	}
#footer input{
	color:#FFFFFF; 
	background-color:#333333;
	}
#footer input:focus{
	border-color:#40B8FF;
	}
#footer button{
	color:#FFFFFF; 
	background-color:#40B8FF;
	}

#copyright{
	border-color:rgba(0,0,0,.1);
	}

#mainav li a{
	color:inherit;
	}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{
	color:#40B8FF; 
	background-color:inherit;
	}
#mainav li li a, #mainav .active li a{
	color:#FFFFFF; 
	background-color:rgba(0,105,168,.7);
	border-color:rgba(255,255,255,.2);
	}
#mainav li li:hover > a, #mainav .active .active > a{
	color:#FFFFFF; 
	background-color:#0069A8;
	}
#mainav form select{
	color:#474747; 
	background-color:#FFFFFF; 
	border-color:rgba(0,0,0,.2);
	}
.container .sidebar nav a{
	color:inherit; 
	border-color:#D7D7D7;
	}
.container .sidebar nav a:hover{
	color:#0069A8;
	}

.pagination a, .pagination strong{
	border-color:#D7D7D7;
	}
.pagination .current *{
	color:#FFFFFF; 
	background-color:#0069A8;
	}

#backtotop{
	color:#FFFFFF; 
	background-color:#0069A8;
	}

html{
	overflow-y:scroll; 
	overflow-x:hidden;
	}
html, body{
	margin:0; 
	padding:0; 
	font-size:14px; 
	line-height:1.6em;
	}

*, *::before, *::after{
	box-sizing:border-box;
	}

.bold{
	font-weight:bold;
	}
.center{
	text-align:center;
	}
.right{
	text-align:right;
	}
.uppercase{
	text-transform:uppercase;
	}
.capitalise{
	text-transform:capitalize;
	}
.hidden{
	display:none;
	}
.nospace{
	margin:0; 
	padding:0; 
	list-style:none;
	}
.block{
	display:block;
	}
.justified{
	text-align:justify;
	}
.inline *{
	display:inline-block;
	}
.inline *:last-child{
	margin-right:0;
	}
.pushright li{
	margin-right:20px;
	}
.pushright li:last-child{
	margin-right:0;
	}
.borderedbox{
	border:1px solid;
	}
.overlay{
	position:relative;
	z-index:1;
	}
.overlay::after{
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	content:""; 
	z-index:-1;
	}
.bgded{
	background-position:top center;
	background-repeat:no-repeat; 
	background-size:cover;
	}
.circle{
	border-radius:50%;
	background-clip:padding-box;
	}
.button{
	display:inline-block; 
	padding:8px 18px 10px; 
	text-transform:uppercase; 
	border:1px solid;
	}
.clear, .group{
	display:block;
	}
.clear::before, .clear::after, .group::before, .group::after{
	display:table; 
	content:"";
	}
.clear, .clear::after, .group, .group::after{
	clear:both;
	}

a{
	outline:none; 
	text-decoration:none;
	}

.fl_left, .imgl{
	float:left;
	}
.fl_right, .imgr{
	float:right;
	}

img{
	width:auto; 
	max-width:100%; 
	height:auto; 
	margin:0; 
	padding:0; 
	border:none; 
	line-height:normal; 
	vertical-align:middle;
	}
.imgl{
	margin:0 15px 10px 0; 
	clear:left;
	}
.imgr{
	margin:0 0 10px 15px; 
	clear:right;
	}
	
body, input, textarea, select{
	font-family:DK Longreach, sans-serif;
	}
h1, h2, h3, h4, h5, h6, .heading{
	font-family:Georgia, "Times New Roman", Times, serif;
	}
@font-face
{
font-family: DK Longreach;
src:url(layout/styles/fonts/'DK_Longreach.otf');
}


h1, h2, h3, h4, h5, h6, .heading{
	margin:0 0 20px 0; 
	font-size:22px; 
	line-height:normal; 
	font-weight:normal; 
	font-style:italic; 
	text-transform:capitalize;
	}
.heading.nospace{
	margin:0;
	}

address{
	font-style:normal; 
	font-weight:normal;
	}
hr{
	display:block; 
	width:100%; 
	height:1px; 
	border:solid; 
	border-width:1px 0 0 0;
	}

.font-xs{
	font-size:.8rem;
	}
.font-x1{
	font-size:1.2rem;
	}
.font-x2{
	font-size:1.8rem;
	}
.font-x3{
	font-size:2.8rem;
	}

.klasa1{
	display:block; 
	width:100%; 
	margin:0; 
	padding:0; 
	text-align:left; 
	word-wrap:break-word;
	}

.hoc{
	display:block; 
	margin:0 auto;
	}

address, article, aside, figcaption, figure, footer, header, main, nav, section{
	display:block; 
	margin:0; 
	padding:0;}


.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{
	display:inline-block; 
	float:left; 
	margin:0 0 0 3.06748466257669%; 
	list-style:none;
	}


.first{
	margin-left:0; 
	clear:left;
	}

.one_quarter{
	width:22.69938650306748%;
	}
.one_third{
	width:31.28834355828221%;
	}
.one_half, .two_quarter{
	width:48.46625766871166%;
	}
.two_third{
	width:65.6441717791411%;
	}
.three_quarter{
	width:74.23312883435584%;
	}


@-ms-viewport{
	width:device-width;
	}

@media screen and (min-width:978px){
	.hoc{
		max-width:978px;
		}
}

@media screen and (max-width:900px){
	.hoc{
		max-width:90%;
		}

	#header{
		padding:30px 0;
		}
	#header #logo{
		margin-top:3px;
		}

	#mainav{}
	#mainav ul{
		display:none;
		}
	#mainav form{
		display:block;
		}

	.container{}
	#comments input[type="reset"]{
		margin-top:10px;
		}
	.pagination li{
		display:inline-block; 
		margin:0 5px 5px 0;
		}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{
		margin-bottom:10px;
		}
}


@media screen and (max-width:750px){
	.imgl, .imgr{
		display:inline-block; 
		float:none; 
		margin:0 0 10px 0;
		}
	.fl_left, .fl_right{
		display:block; 
		float:none;
		}
	.group .group > *:last-child, .clear .clear > *:last-child, .clear .group > *:last-child, .group .clear > *:last-child{
		margin-bottom:0;
		} 
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{
		display:block; 
		float:none; 
		width:auto; 
		margin:0 0 30px 0; 
		padding:0;
		}

	#header{
		text-align:center;
		}
	#header #logo{
		margin:0 0 30px 0;
		}

	#pierwszy{
		padding:100px 0;
		}
	#pierwszy article div{
		margin-bottom:50px;
		}
	#pierwszy article div .heading{
		margin-bottom:30px; font-size:32px;
		}
	#pierwszy article div p:first-of-type{
		margin-bottom:20px; 
		font-size:16px;
		}

	.sectiontitle{
		max-width:none;
		}

	.overview > li:nth-last-child(-n+2){
		margin-bottom:50px;
		}

	.cta > :first-child{
		margin-top:0;
		}
}

@media screen and (max-width:450px){}

@media screen and (max-width:650px){
	.scrollable{
		display:block; 
		width:100%; 
		margin:0 0 30px 0; 
		padding:0 0 15px 0;
		overflow:auto; 
		overflow-x:scroll;
		}
	.scrollable table{
		margin:0; 
		padding:0; 
		white-space:nowrap;
		}

	.inline li{
		display:block;
		margin-bottom:10px;
		}
	.pushright li{
		margin-right:0;
		}

	.font-x2{
		font-size:1.4rem;
		}
	.font-x3{
		font-size:1.6rem;
		}

	#header #quickinfo li{
		display:block;
		margin-right:0;
		}
}
